<!DOCTYPE html>
<html lang="en">
    
<head>
	
<meta charset="UTF-8">
<link rel="stylesheet"  href="{{url_for('static' , filename='style.css') }}" >
<meta name="viewport", content="width=device-width, initial-scale=1.0>"

<title> STUDENT TASK MANAGEMENT SYSTEM</title>
</head>
<body> 
	
<h1> Welcome to the Student Task Management System </h1>

<p> This is the main dash-board of the management system that allows teacher and student to manage their
 tasks effectively and with high efficiency. </p>
 
<nav>
<a href="/about"> About us. </a> <br>
<a href="/contact">Contact us. </a> <br>
<a  href="/tasks"> Task Management. </a> <br>
</nav>
</body>

</html>
